@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --font-family: 'Manrope', sans-serif;
}
img{
  border-radius: 5px;
}
*{
  transition: all .3s ease-in-out;
  box-sizing: border-box;
}
*::after,*::before{box-sizing: border-box;}
body {
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 97.5%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

*{
  font-family: var(--font-family);
}
svg {
  fill: #508ffb;
  transition: all .2s ease-in;
  height: 2.5em;
  padding: 0.1em;
}
svg:hover{
  cursor: pointer;
fill: royalblue;
transform: scale(1.05);
}
a.active svg {
  fill: lightgray;
}


#crossSVGContainer svg {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 66px;
}

