@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --font-family: 'Manrope', sans-serif;
}
*{
  transition: all .3s ease-in-out;
}
body {
  width: 97.5%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

*{
  font-family: var(--font-family);
}
svg {
  fill: #508ffb;
  transition: all .2s ease-in;
  height: 2em;
  padding: 0.1em;
}
svg:hover{
fill: royalblue;
height: 2em;
}
a.active svg {
  fill: lightgray;
}

/* src/App.css */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.carousel-item {
  flex: 0 0 100%;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  text-align: center;
}

.prev-button,
.next-button {
  margin-top: 20px;
}
