.containerPC{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    margin: 5px auto 10px auto;
    border: 1px solid lightgray;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #f4f5f8;
    -webkit-box-shadow: 12px 12px 24px #cfd0d3, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #cfd0d3, -12px -12px 24px #ffffff;
}
.optionsPC{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
.searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    padding: 7px 20px;
    width: 30%;
    border-radius: 50px;
}
.searchInput{
    height: 2.5em;
    border: none;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background-color: inherit;
}