.containerPC{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
    width: 90vw;
    margin: 10px auto;
    border: 1px solid lightgray;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #f4f5f8;
    -webkit-box-shadow: 12px 12px 24px #cfd0d3, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #cfd0d3, -12px -12px 24px #ffffff;
}
.optionsPC{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}