.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    margin: 5px auto 10px auto;
    border: 1px solid lightgray;
    -webkit-border-radius: 15px;
    border-radius: 5px;
    background: #f4f5f8;
    -webkit-box-shadow: 12px 12px 24px #cfd0d3, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #cfd0d3, -12px -12px 24px #ffffff;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.searchInput{
    width: 400px;
    border: 1px solid darkgray;
    height: 2.5em;
    padding: 5px 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    outline: none;
    background-color: inherit;
}
.hamburger{
    display: none;
}
aside{
    position: absolute;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    transition: translate .3s;
}
aside a{
    color: white;
    font-size: 48px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Inter',sans-serif;
}
aside a:hover{
    color: rgb(235, 235, 235);
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .searchInput{
        width: 350px;
        font-size: 16px;
        padding: 15px 15px;
    }
    .container {
        padding: 15px 40px;
    }
    

}
@media screen and (min-width: 425px) and (max-width: 767px) {
    .searchInput {
        width: 175px;
        font-size: 12px;
        padding: 5px 10px;
    }
    .hamburger {
        display: block;
    }
        .options{
            display: none;
        }
    .container {
        padding: 15px 25px;
    }
}