.container{
    position: absolute;
    max-height: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    border: 1px solid lightgray;
    gap: 10px;
}

.container svg{
    fill: red;
    position: absolute;
    top: 10px;
    right: 10px;
}
.check svg{
    position: relative;
    height: 100px;
}
.container form{
    display: flex;
    flex-direction: column;

}
.container input{
    width: 100%;
    height: 50px;
    margin: 5px;
    border-radius: 3px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid lightgray;
}
.container .button{
    background-color: #508ffb;
    color: white;
}
.container .button:hover{
    background-color: royalblue;
}