.container{
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: lightgray;
    width: 300px;
    height: fit-content;
}
.container img{
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;
}
.title{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    cursor: pointer;
    color: black;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.001);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.title:hover p{
    color: rgb(100, 100, 100);
}