.container{
    position: relative;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.container:hover{
    cursor: pointer;
}
.container img{
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;
}
.title{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    cursor: pointer;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    background: rgb(255, 255, 255,0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.container p{
    width: fit-content;
    margin: auto;
    color: #508ffb;
    font-size: 24px;
    border-radius: 10px;
}
.container:hover p{
    color: royalblue;
}