.container{
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 30vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.container:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.container img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.details{
    border-top: 1px solid lightgray;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 2px 2px;
    background: rgb(255, 255, 255,0.7);
}
.title{
    color: #508ffb;
    font-size: 16px;
    font-weight: 700;
}

.container:hover .title{
    color: royalblue;
}
.price{
    font-size: 14px;
    font-weight: 700;
    color: grey;
    text-decoration: line-through;
}
.discountPrice{
    font-size: 14px;
    font-weight: 900;
}
.container:hover .price{
    color: rgb(150, 150, 150);
}
.container:hover .discountPrice {
    color: rgb(100, 100, 100);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container{
        width: 40vw;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
.container {
        width: 80vw;
    }
}